*.p
*.o
*.a
*.hex
*.rpt
*.html
bitstream.txt
generated_files.txt
elab_dependencies.txt
*.lib
warp_dependencies.txt
liberty_reader.log
*.sdc
*.sdf
*.svd
*.cycdx
*.cyfit
*.route
*.plc_log
*.tr
*.pci
*.dcf
*.tr
*.vh2
index
*.icf
*.scat
*.elf
*BUILD.log
*library.deps
*.pco
*placer.log
*.lst
*.zip
*.kris
*.map
*cyfitter*
PSoCCreatorExportIDE.xml
*.ctl
*/codegentemp/*.*
*project.h
ComponentUpdateLog.txt



